* {
    font-family: sans-serif;
}

.header {
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.header-list {
    display: flex;
    margin: 0;
    padding: 0;
    top: 0;
    list-style-type: none;
}

.header-element {
    margin-left: 2rem;
}

a {
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    color: #00b8d4;
}

.selected-element {
    color: #b2f5ea;
}

a:hover {
    color: white;
}

.footer {
    background-color: black;
    height: 3rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-size: 10px;
    font-family: sans-serif;
    color: white;
}

.home {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.projects {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-cards {
    display: flex;
    width: 80%;
    justify-content: space-between;

}

.project-card {
    margin-left: 50px;
}

.project-form {
    margin-bottom: 128px;
}

.select-type {
    margin-top: 10px;
}

.email {
    width: 50%;
}

.concept-input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 100%;
}

input[type=checkbox] {
    transform: scale(1.5);
}